
<app-header></app-header>

<!-- CONTAINER START-->
<section class="container">
  <div class="row">
    <section class="col-md-8 content-wrapper">
      <div id="ctl00_cphBody_divError"></div>
      <div id="ctl00_cphBody_PostList1_posts" class="posts">

        <!-- Article START-->
        <app-article *ngFor="let item of data$|async; let i=index" [item]="item"
        (delete)="deleteArticle($event)">

        </app-article>
        <!-- Article END-->

      </div>
    </section>

    <!-- Aside START -->
    <app-aside></app-aside>
    <!-- Aside END -->
  </div>
</section>
<!-- CONTAINER END -->

<app-footer></app-footer>>



